
name : Build and deply tags app
on: 
  push:

jobs:
  build-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '17'


      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt

      - name: Download NLTK data
        run: |
          python -m nltk.downloader punkt
          python -m nltk.downloader stopwords
          python -m nltk.downloader averaged_perceptron_tagger
          python -m nltk.downloader wordnet
            
      - name: Run unit tests
        run: |
          pytest

      - name: Build the app
        run: |
           uvicorn app:app -- reload
